<table id="tasks-list" class="table table-bordered">
  <thead>
    <tr>
      <th class="span4">Title</th>
      <th>Latest time</th>
      <th>Average time</th>
      <th>Total time</th>
      <th>Runs</th>
      <th>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<form class="well form-search">
  <input type="text" id="task_title" placeholder="Task title" />
  <button type="submit" class="btn" id="create_task">Add task</a>
</form>